@model KalamazoDefteri.ViewModels.Income
@{
    ViewBag.Title = "GELİRLER";
}

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">TÜM GELİRLER</h4>
            <div class="single-table">
                <div class="table-responsive">
                    <table class="table table-striped text-center">
                        <thead class="text-uppercase">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Firma</th>
                                <th scope="col">Açıklama</th>
                                <th scope="col">Tarih</th>
                                <th scope="col">Girdi</th>
                                <th scope="col">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var income in Model.ourIncomings)
                            {
                                <tr>
                                    <th style="text-align:center; vertical-align:middle;" scope="row">@income.Incomeid</th>
                                    <td style="text-align:center; vertical-align:middle;">@income.Companies.Companyname</td>
                                    <td style="text-align:center; vertical-align:middle;">@income.Explanation</td>
                                    <td style="text-align:center; vertical-align:middle;">@income.Date.ToString("dd/MM/yyyy")</td>
                                    <td style="text-align:center; vertical-align:middle;">@income.Payment</td>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <a href="@Url.Action("DeleteIncome","Monetary",new { id = income.Incomeid })"
                                           class="btn btn-flat btn-danger"
                                           data-post="Geliri Silmek İstediğinize Emin Misiniz?"
                                           style="height:26px; padding-top:4px;">
                                            <i class="ti-trash">  SİL</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button onclick="location.href='@Url.Action("NewIncome")'" class="btn btn-flat btn-primary pull-right"
                                        style="margin-right:0;">
                                    <i class="ti-plus" style="color:yellow;">  </i>
                                    Yeni Girdi Ekle
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div class="pagination justify-content-center">
                        @if (Model.ourIncomings.HasPreviousPage)
                        {
                            <a href="@Url.Action("index",new { page=Model.ourIncomings.PreviousPage})" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-left"></i>Önceki Sayfa</a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-default disabled btn-sm"><i class="glyphicon glyphicon-chevron-left "></i>Önceki Sayfa</a>
                        }

                        @if (Model.ourIncomings.HasNextPage)
                        {
                            <a href="@Url.Action("index",new { page=Model.ourIncomings.NextPage})" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i>Sonraki Sayfa</a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-default disabled btn-sm"><i class="glyphicon glyphicon-chevron-right "></i>Sonraki Sayfa</a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>